stages:
  - Version
  - Build
  - Release

variables:
  PYTHON_VERSION: "3.12"
  UV_VERSION: "0.6.12"
  BASE_LAYER: bookworm-slim
  IMAGE: ghcr.io/astral-sh/uv:$UV_VERSION-python$PYTHON_VERSION-$BASE_LAYER
  UV_LINK_MODE: copy
  UV_PUBLISH_URL: "${CI_API_V4_URL}/projects/${CI_PROJECT_ID}/packages/pypi"
  UV_PUBLISH_USERNAME: "gitlab-ci-token"
  UV_PUBLISH_PASSWORD: "${CI_JOB_TOKEN}"
  COMPONENT_VERSION_FILE: pyproject.toml

# GET VERSION
.version:
  get-version:
    # GET BASE VERSION
    - VERSION=$(uvx --from=toml-cli toml get --toml-path=$COMPONENT_VERSION_FILE project.version)
    - echo "VERSION = $VERSION"

Version Check:
  stage: Version
  image: $IMAGE
  before_script:
    - set -e
    - apt update && apt install -y bash git
  script:
    # GET VERSION
    - !reference [ .version, get-version ]
    - echo "Starting version check..."
    # CHECK VERSION = CI_COMMIT_TAG
    - echo "TAG = $CI_COMMIT_TAG"
    - |
      if [[ "$VERSION" == "$CI_COMMIT_TAG" ]]; then
        echo "VERSION ON COMMIT MATCHES TAG."
      else
        echo "VERSION ON COMMIT DOES NOT MATCH TAG! EXITING."
        exit 1
      fi
    - echo "VERSION CHECK PASSED!"
  # ONLY RUN WHEN TAG CREATED
  rules:
    - if: $CI_COMMIT_TAG

Build:
  stage: Build
  variables:
    UV_CACHE_DIR: .uv-cache
  cache:
    - key:
        files:
          - uv.lock
      paths:
        - $UV_CACHE_DIR
  image: $IMAGE
  # Needs version check to be successful
  needs:
    - "Version Check"
  script:
    # GET VERSION
    - !reference [ .version, get-version ]
    - echo "Starting build for $VERSION..."
    - uv build
    - uv publish dist/*.whl
    - uv cache prune --ci
  # ONLY RUN WHEN TAG CREATED
  rules:
    - if: $CI_COMMIT_TAG
  when: manual # Run this job manually


Release:
  stage: Release
  image: registry.gitlab.com/gitlab-org/release-cli:latest
  # Needs build to be successful
  needs:
    - "Build"
  script:
    - echo "Releasing $VERSION"
  release:
    tag_name: '$CI_COMMIT_TAG'
    description: '$CI_COMMIT_TAG_MESSAGE'
  # ONLY RUN WHEN TAG CREATED
  rules:
    - if: $CI_COMMIT_TAG
  when: manual # Run this job manually